<% if user_signed_in? %>
  <h2>你的联系人</h2>
  <ul class="list-group" id="contact_list">
    <%= render 'welcome/contact_list', contacts: current_user.contacts %>
  </ul>
<% else %>
  <p>请先登陆，按钮在右上角。</p>
  <p>账号：yuna@0v0.cn</p>
  <p>密码：zxc123</p>
<% end %>
