<% if user_signed_in? %>
  <h2>你的联系人</h2>
  <ul class="list-group">
    <% current_user.contacts.each do |contact| %>
      <% if contact.display %>
        <%= link_to chat_path(:chat_id => contact.chat.id), class: "list-group-item" do %>
          <% if unread_count(contact) != 0 %>
            <span class="badge"><%= unread_count(contact) %></span>
          <% end %>
          <h4 class="list-group-item-heading">
            <%= contact.recipient.email %>
            <% if contact.recipient_contact.nil? %>
              <span>(陌生人)</spn>
            <% end %>
          </h4>
          <p class="list-group-item-text">
            <%= contact.chat.last_message_content %>
          </p>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>请先登陆，按钮在右上角。</p>
  <p>账号：yuna@0v0.cn</p>
  <p>密码：zxc123</p>
<% end %>
