<%= form_for Message.new, url: send_message_path, class: "form-horizontal", remote: true do |f| %>
  <div class="form-group">
    <%= f.label :content, class: "control-label" %>
    <%= f.text_area :content, class: "form-control" %>
  </div>

  <%= f.submit "send", class: "btn btn-primary" %>
<% end %>
